<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/enrolledtable.css">
</head>
<body>
    <h1>選課系統</h1>
    <h2>歡迎回來，{{ usernameKept }}</h2>
    <a href="{{ url_for('logout') }}">登出</a>
    <div>
        <form action="{{ url_for('handle_course') }}" method="post">
            <label for="course_id">課程代碼: </label>
            <input type="text" id="course_id" name="course_id" required>
            <button type="submit">加/退選</button>
        </form>
    </div>
    <div class="container">
        <table>
            <tr>
                <td></td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
            </tr>
            <tr>
                <td>
                    <br>
                    1 <br>
                    08:10<br>
                    |<br>
                    09:00<br>
                    <br>
                </td>
                <td id="s1">{{ s1 }}</td>
                <td id="s15">{{ s15 }}</td>
                <td id="s29">{{ s29 }}</td>
                <td id="s43">{{ s43 }}</td>
                <td id="s57">{{ s57 }}</td>
            </tr>
            <tr>
                <td>
                    <br>
                    2<br>
                    09:10<br>
                    |<br>
                    10:00<br>
                    <br>
                </td>
                <td id="s2">{{ s2 }}</td>
                <td id="s16">{{ s16 }}</td>
                <td id="s30">{{ s30 }}</td>
                <td id="s44">{{ s44 }}</td>
                <td id="s58">{{ s58 }}</td>
            </tr>
            <tr>
                <td>
                    <br>
                    3<br>
                    10:10<br>
                    |<br>
                    11:00<br>
                    <br>
                </td>
                <td id="s3">{{ s3 }} </td>
                <td id="s17">{{ s17 }} </td>
                <td id="s31">{{ s31 }} </td>
                <td id="s45">{{ s45 }} </td>
                <td id="s59">{{ s59 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    4<br>
                    11:10 <br>
                    |<br>
                    12:00<br>
                    <br>
                </td>
                <td id="s4">{{ s4 }} </td>
                <td id="s18">{{ s18 }} </td>
                <td id="s32">{{ s32 }} </td>
                <td id="s46">{{ s46 }} </td>
                <td id="s60">{{ s60 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    5<br>
                    12:10<br>
                    |<br>
                    13:00<br>
                    <br>
                </td>
                <td id="s5">{{ s5 }} </td>
                <td id="s19">{{ s19 }} </td>
                <td id="s33">{{ s33 }} </td>
                <td id="s47">{{ s47 }} </td>
                <td id="s61">{{ s61 }} </td>
            </tr>
            <tr >
                <td>
                    <br>
                    6<br>
                    13:10<br>
                    |<br>
                    14:00<br>
                    <br>
                </td>
                <td id="s6">{{ s6 }} </td>
                <td id="s20">{{ s20 }} </td>
                <td id="s34">{{ s34 }} </td>
                <td id="s48">{{ s48 }} </td>
                <td id="s62">{{ s62 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    7<br>
                    14:10<br>
                    |<br>
                    15:00<br>
                    <br>
                </td>
                <td id="s7">{{ s7 }} </td>
                <td id="s21">{{ s21 }} </td>
                <td id="s35">{{ s35 }} </td>
                <td id="s49">{{ s49 }} </td>
                <td id="s63">{{ s63 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    8<br>
                    15:10<br>
                    |<br>
                    16:00<br>
                    <br>
                </td>
                <td id="s8">{{ s8 }} </td>
                <td id="s22">{{ s22 }} </td>
                <td id="s36">{{ s36 }} </td>
                <td id="s50">{{ s50 }} </td>
                <td id="s64">{{ s64 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    9<br>
                    16:10<br>
                    |<br>
                    17:00<br>
                    <br>
                </td>
                <td id="s9">{{ s9 }} </td>
                <td id="s23">{{ s23 }} </td>
                <td id="s37">{{ s37 }} </td>
                <td id="s51">{{ s51 }} </td>
                <td id="s65">{{ s65 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    10<br>
                    17:10<br>
                    |<br>
                    18:00<br>
                    <br>
                </td>
                <td id="s10">{{ s10 }} </td>
                <td id="s24">{{ s24 }} </td>
                <td id="s38">{{ s38 }} </td>
                <td id="s52">{{ s52 }} </td>
                <td id="s66">{{ s66 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    11<br>
                    18:30<br>
                    |<br>
                    19:20<br>
                    <br>
                </td>
                <td id="s11">{{ s11 }} </td>
                <td id="s25">{{ s25 }} </td>
                <td id="s39">{{ s39 }} </td>
                <td id="s53">{{ s53 }} </td>
                <td id="s67">{{ s67 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    12<br>
                    19:25<br>
                    |<br>
                    20:15<br>
                    <br>
                </td>
                <td id="s12">{{ s12 }} </td>
                <td id="s26">{{ s26 }} </td>
                <td id="s40">{{ s40 }} </td>
                <td id="s54">{{ s54 }} </td>
                <td id="s68">{{ s68 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    13<br>
                    20:20<br>
                    |<br>
                    21:15<br>
                    <br>
                </td>
                <td id="s13">{{ s13 }} </td>
                <td id="s27">{{ s27 }} </td>
                <td id="s41">{{ s41 }} </td>
                <td id="s55">{{ s55 }} </td>
                <td id="s69">{{ s69 }} </td>
            </tr>
            <tr>
                <td>
                    <br>
                    14<br>
                    21:20<br>
                    |<br>
                    22:10<br>
                    <br>
                </td>
                <td id="s14">{{ s14 }} </td>
                <td id="s28">{{ s28 }} </td>
                <td id="s42">{{ s42 }} </td>
                <td id="s56">{{ s56 }} </td>.
                <td id="s70">{{ s70 }} </td>
            </tr>
        </table>
    </div>
</body>
</html>