<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/enrolledtable.css">
</head>
<body>
    <h1>選課系統</h1>
    <h2>歡迎回來，{{ username }}</h2>
    <a href="{{ url_for('index') }}">登出</a>
    <div class="container">
        <table>
            <tr>
                <td></td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
            </tr>
            <tr>
                <td>
                    <br>
                    1 <br>
                    08:10<br>
                    |<br>
                    09:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    2<br>
                    09:10<br>
                    |<br>
                    10:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    3<br>
                    10:10<br>
                    |<br>
                    11:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    4<br>
                    11:10 <br>
                    |<br>
                    12:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    5<br>
                    12:10<br>
                    |<br>
                    13:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr >
                <td>
                    <br>
                    6<br>
                    13:10<br>
                    |<br>
                    14:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    7<br>
                    14:10<br>
                    |<br>
                    15:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    8<br>
                    15:10<br>
                    |<br>
                    16:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    9<br>
                    16:10<br>
                    |<br>
                    17:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    10<br>
                    17:10<br>
                    |<br>
                    18:00<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    11<br>
                    18:30<br>
                    |<br>
                    19:20<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    12<br>
                    19:25<br>
                    |<br>
                    20:15<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    13<br>
                    20:20<br>
                    |<br>
                    21:15<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>
                    <br>
                    14<br>
                    21:20<br>
                    |<br>
                    22:10<br>
                    <br>
                </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
    </div>
</body>
</html>