<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Class Enrollment System Login</title>
    
</head>
<body>
    <div class="login-container">
        <h2>選課系統登入</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">NID:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>